@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
  background-color: unset !important;
  padding: 0 !important;
}

pre > div {
  border-radius: 0.5em !important;
  background: rgb(29, 31, 33) !important;
}

p > code {
  border-radius: 0.3em !important;
  background: rgba(175, 184, 193, 0.2) !important;
}